html {
    scroll-behavior: smooth;
}

body {
    background-color: #bdbdbd;
    color: white;
}

body {
    scroll-snap-type: y mandatory;
    /* overflow-y: scroll; */
}

section {
    scroll-snap-align: start;
}

p {
    font-size: 20px;
}

a {
    color: white;
}

.nav {
    background: rgba(0, 0, 0, 0.7);
}

.navbar a{
    padding: 10px 30px;
    text-decoration: none;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    color: black;
}

.navbar a:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.name {
    padding-top: 250px;
}

#profilepic {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name .text {
    margin-top: 100px;
    text-align: center;
}

.name .text #name {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.about{
    margin-top: 300px;
    background-color: #9e9e9e;
    height: 900px;
}

h2 {
    text-align: center;
    left: 50%;
    margin-bottom: 150px;
    padding: 40px 30px;
    background-color: #424242;
}

.about h3 {
    position: relative  
}


.about .details {
    margin-bottom: 100px;
}

.about .aboutme {
    margin-bottom: 150px;
}

.more {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #9e9e9e;
}

.more h3 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.more p {
    line-height: 40px;
}

.more .education {
    text-align: right;
} 

.icon {
    float: right;
    margin: 30px 30px;
}

.icon img{
    height: 50px;
    margin: 0px 20px;
}

.icon img:hover {
    opacity: 0.5;
}

.contact {
    height: 100vh;
}

.contact .icons{
    position: absolute;
    left: 27%;
    margin-bottom: 100px;
}

.contact a{
    margin: 0px 30px;
}