<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Profile</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row nav" id="home">
                <div class="fixed-top" class="navbar">
                    <div class="float-xs-left float-sm-left float-md-left float-lg-left navbar">
                        <a href="#home">Home</a>
                        <a href="#about">About</a>
                        <a href="#contact">Contact</a>
                        <a href="{% url 'homepage:project' %}">Project</a>
                    </div>
                </div>
            </div>

            <section class="name">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3 offset-lg-3">
                        <img id="profilepic" src="{% static 'images/profilepic.png' %}", alt="Profile Picture">
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="text">
                            <h1 id="name">Akmal Farhan Raiyan</h1>
                            <h3>Computer Science Student</h3>
                        </div>
                    </div>
                </div>
            </section>

            <section class="about" id="about">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>About</h2>
                    </div>
                </div>
                <div class="details">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 text-sm-center text-md-right text-lg-right">
                            <h3 id="detail">Details</h3>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 text-sm-center text-md-left text-lg-left">
                            <p>
                                Name            : Akmal Farhan Raiyan </br>
                                Date of Birth   : 25 August 2000 </br>
                                Adress          : Bogor, Indonesia </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="aboutme">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 text-sm-center text-md-right text-lg-right">
                            <h3 id="aboutme">About me</h3>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-6 text-sm-center text-md-left text-lg-left">
                            <p>
                                Born in Niigata on 25th of August 2000 </br>
                                I am currently a Computer Science student </br>
                                in University of Indonesia </br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center">more</p>
                    </div>
                </div>
            </section>

            <section class="more" id="more">
                <div class="row">
                    <div class="col-lg-3 offset-lg-2">
                        <div class="education">
                            <h3 class="text-center">Education</h3>
                            <p class="text-center">
                                University of Indonesia </br>
                                Bachelor’s degree in computer science </br>
                                2018 - Present </br>
                                </br>
                                SMAN 1 Bogor </br>
                                High school diploma </br>
                                2015 - 2018 </br>
                                </br>
                                SMPN 8 Bogor </br>
                                Middle school diploma </br>
                                2012 - 2015
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="skills">
                            <h3 class="text-center">Skills</h3>
                            <p class="text-center">
                                Python </br>
                                Java </br>
                                HTML </br>
                                CSS
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="interests">
                            <h3 class="text-center">Interests</h3>
                            <p class="text-center">
                                Technology </br>
                                Video Games </br>
                                Fingerstyle Guitar </br>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="float">
                <div class="row">
                    <div class="fixed-bottom">
                        <div class="icon">
                            <a href="https://www.instagram.com/akmalfraiyan/" target="_blank">
                                <img src="{% static 'images/instagram.png' %}", alt="Instagram"></a>
                            <a href="mailto:farhanraiyan@gmail.com" target="_blank"></a>
                                <img src="{% static 'images/gmail.png' %}", alt="Gmail"></a>
                            <a href="https://www.linkedin.com/in/akmal-r-a9b5a8134/" target="_blank"></a>
                                <img src="{% static 'images/linkedin.png' %}", alt="Linkedin"></a>
                        </div>
                    </div>
                </div>
            </div>

            <section class="contact" id="contact">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Contact</h2>
                    </div>
                </div>
                <div class="row icons">
                    <div class="col-xs-12 col-lg-12">
                        <a href="https://www.instagram.com/akmalfraiyan/" target="_blank">
                            <img class="center-block" src="https://img.icons8.com/ios-filled/150/000000/instagram-new.png"></a>
                        <a href="mailto:farhanraiyan@gmail.com" target="_blank"></a>
                            <img src="https://img.icons8.com/ios-filled/150/000000/gmail.png", alt="Gmail"></a>
                        <a href="https://www.linkedin.com/in/akmal-r-a9b5a8134/" target="_blank"></a>
                            <img src="https://img.icons8.com/ios-filled/150/000000/linkedin.png", alt="Linkedin"></a>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>