<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Project</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="row nav" id="home">
            <div class="fixed-top" class="navbar">
                <div class="float-xs-left float-sm-left float-md-left float-lg-left navbar">
                    <a href="{% url 'homepage:index#home' %}">Home</a>
                    <a href="{% url 'homepage:index#about' %}">About</a>
                    <a href="{% url 'homepage:index#contact' %}">Contact</a>
                    <a href="Project.html">Project</a>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Project</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>.....</h3>    
                </div>
            </div>
        </div>
    </body>
</html>