<html>
    Kegiatan
    <form method='POST' action='/isian/terima/'>
        {% csrf_token %}
        {% for fields in form %}
            {{ fields.label }}
            <br>
            {{ fields }}
            <br>
        {% endfor %}
        <input type='submit' class='btn btn-primary mb-2 float-right' value='Add'>
        <input type="submit" value='Submit'/>
        
    </form>
</html>