<html>
    Hasil
    <table>
        {% for object in data %}
        <tr>
            <td>{{ object.kategori }}</td>
            <td>{{ object.kegiatan }}</td>
            <td>{{ object.waktu }}</td>
            <td>{{ object.tempat }}</td>
        </tr>
        {% endfor %}
    </table>
</html>